<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by {{ name }}. It uses data form <strong>mapbox.com</strong> and
            <strong>weatherstack.com</strong></p>
        <img src="/img/profile.jpeg" class="portrait" />
    </div>
    {{>footer}}
</body>

</html>